*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
div.list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background: #9e9e9e5c;
    padding-top: 15px;
    padding-left: 15px;
}
div.list .item{
    width: 33.33%;
}
div.list .item .content{
    padding-right: 15px;
    padding-bottom: 15px;
}
div.list .item .content img{
    width: 100%;
    object-fit: cover;
    height: 100%;
    border-radius: 5px;
    box-shadow: 1px 1px 6px 2px #9e9e9e;
}
@media(max-width: 768px) {
    div.list .item{
        width: 50%;
    }
}
@media(max-width: 425px) {
    div.list .item{
        width: 100%;
    }
}